**/[Bb]in/
**/[Oo]bj/
**/[Rr]elease/LibertyTweaks.ivsdk.dll
**/[Rr]elease/LibertyTweaks.zip
[Pp]ackages/
.vs/
LibertyTweaks/release/IVSDKDotNet/scripts/LibertyTweaks.ini
LibertyTweaks/release/IVSDKDotNet/scripts/LibertyTweaks.ivsdk.dll
LibertyTweaks/release/IVSDKDotNet/scripts/LibertyTweaks/ImprovedWardrobeFiles/ClothesVanLocations.txt
LibertyTweaks/release/IVSDKDotNet/scripts/LibertyTweaks/WarpToShoreFiles/WarpLocations.txt
LibertyTweaks/release/LibertyTweaks1.7.zip
